.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px;
  border-bottom: 1px solid #EAEAEA;

  &-left {
    display: flex;
    align-items: center;

    img {
      margin-right: 15px;
    }

    &-info {
      h1 {
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
        text-transform: uppercase;
        color: #000000;
      }

      p {
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: #9D9D9D;
      }
    }
  }

  &-right {
    display: flex;
    align-items: center;

    li {
      margin-left: 25px;
    }

    span {
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      color: #9B9B9B;
      position: relative;
      top: -4px;
      margin-left: 10px;
    }
  }
}