.slider {
  position: relative;
  display: flex;
  justify-content: space-between;
  background: #F4EFE9;
  border-radius: 20px;
  height: 300px;
  width: 960px;
  margin: 0 auto;
  margin-top: 45px;
}

.rightDescription {
  img {
    margin: 20px;
  }
}

.rightDescriptionContent {
  padding-left: 60px;

  h3 {
    font-weight: bold;
    font-size: 38px;
    line-height: 46px;
    color: #000;
    margin-bottom: 30px;
  }

  b {
    color: #8BB43C;
  }

  button {
    width: 200px;
    height: 45px;
    background: #A5D364;
    border-radius: 110px;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;

    &:hover {
      background: lighten(#9DD558, 5%);
    }

    &:active {
      background: darken(#9DD558, 5%);
    }
  }
}

.sliderArrow {
  position: absolute;
  right: -22px;
  top: 120px;
  cursor: pointer;
}